.has-error {
    border: 1px solid red;
}

.has-success {
    border: 1px solid green;
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}

:host {
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
}