<!--<div class="row">
   <div class="col-md-6">
    <h3>Quiz Application</h3>
  </div>
  <div class="col-md-6 text-sm-right">
    Select Quiz:
    <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
        <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
      </select>
  </div>
</div>-->
<div class="container" id="quiz">
    <!-- <h1 class="text-sm-center bg-custom">{{quiz.name}}</h1>
  <hr /> -->
    <div class="text-sm-center" *ngIf="mode=='quiz' && quiz">
        <div *ngFor="let question of filteredQuestions;">
            <div class="badge badge-info">Pregunta {{pager.index + 1}} de {{pager.count}}.</div>
            <h2>{{pager.index + 1}}.
                <span class="question" [innerHTML]="question.name"></span>
            </h2>
            <div class="row justify-content-center">
                <div *ngIf="question.questionTypeId == 1;then block else elseBlock"></div>
                <ng-template #block>
                    <div class="star-rating">
                        <fieldset>
                            <span *ngFor="let option of question.options">
                                <input type="checkbox" id="star{{option.id}}" name="rating" [(ngModel)]="option.selected" (change)="onSelect(question, option);"/>
                                <label for="star{{option.id}}">{{option.id}}stars</label>
                            </span>
                        </fieldset>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <div class="row">
                        <div *ngFor="let option of question.options">

                            <label class="yesno" [attr.for]="option.id">{{option.name}}
                                <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                            </label>

                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <button class="btn btn-primary btn-lg" (click)="salir()">Salir</button>
        <!-- <hr /> -->
        <!-- <div class="text-sm-center">
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
                            <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
                            <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
                            <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
                            <pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
                        </div> -->
    </div>

    <!-- <div class="row review" *ngIf="mode=='review'">
    <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div> -->
    <div class="result text-sm-center" *ngIf="mode=='result'">
        <!-- <h2>Quiz Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h4>{{index + 1}}. {{question.name}}</h4>
        <div class="row">
          <div class="col-md-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
          </div>
        </div>
        <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
      </div>
    </div> -->
        <p><b>Tu opinion es importante para nosotros y la tenemos en cuenta para mejorar dia a dia.</b></p>
        <p><b class="alert">¡GRACIAS POR CONFIAR EN NOSOTROS!</b></p>
        <img class="navbar-brand" src="assets/logo-afflelou.svg" alt="Logo">
        <button class="btn btn-primary btn-lg" (click)="salir()">Salir</button>
    </div>

    <!-- <div *ngIf="mode!='result'">
    <button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>
    <button class="btn btn-default" (click)="mode = 'review'">Review</button>
    <button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>
  </div> -->
</div>