$primary-color: white;
$second-color: #C3A269;
$second-color-hover: rgb(133, 96, 28);
$background-color: rgb(228, 230, 231);
.content-wrapper {
    background-color: $background-color;
    height: 500px;
}