<div class=" container mr-top-custom-5">
    <div class="row justify-content-center" *ngIf="employees">
        <div class="col-md-6 col-lg-4 form-group ">
            <label class="fs-20" for="vendedor"> Vendedor: </label>
            <select class="form-control select-lg" id="vendedor" name="vendedor" [(ngModel)]="vendedor">
        <option *ngFor="let empleado of employees"> {{ empleado.name }} </option>
      </select>
        </div>
        <div class="col-md-6 col-lg-4 form-group ">
            <label class="fs-20" for="optometrista"> Optometrista: </label>
            <select class="form-control select-lg" id="optometrista" name="optometrista" [(ngModel)]="optometrista">
        <option *ngFor="let empleado of employees"> {{ empleado.name }} </option>
      </select>
        </div>
        <div class=" col-md-6 col-lg-4 form-group ">
            <label class="fs-20" for="personaEntrega "> Persona que entrega la gafa: </label>
            <select class="form-control select-lg " id="personaEntrega" name="entregaGafa" [(ngModel)]="entregaGafa">
            <option *ngFor="let empleado of employees"> {{ empleado.name }} </option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label class="fs-20" for="numVenta">Número de venta: </label>
            <input class="form-control select-lg" type="text" name="numeroVenta" [(ngModel)]="numeroVenta">
        </div>
    </div>
</div>
<div class="text-sm-center mr-top-custom-5">
    <button class="btn btn-primary btn-lg" [disabled]="!vendedor || !optometrista || !entregaGafa || !numeroVenta" (click)="siguiente()">Siguiente</button>
    <button class="btn btn-primary btn-lg" (click)="goHome()">Cancelar</button>
</div>